@model AllShare.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="row">
    <div class="icon-bar three-up">
        <a class="item" href="@Url.Action("Index","Home")">
            <i class="step fi-home size-12"></i>
            <label>Home</label>
        </a>
        <a class="item" href="@Url.Action("Index", "Settings")">
            <i class="step fi-widget size-12"></i>
            <label>Settings</label>
        </a>
        <a class="item" href="@Url.Action("Logout", "Account")">
            <i class="step fi-target size-12"></i>
            <label>Logout</label>
        </a>
    </div>
</div>

<div class="row">
    <div class="small-10 columns">
        <h2>Welcome, @Model.Account.Username !</h2>

        <form action="/Home/Post" method="post" enctype="multipart/form-data">
            <textarea placeholder="Your text..." name="Text"></textarea>

            <a href="#" onclick="performClick('imagePath');">Choose photo</a>
            @Html.AntiForgeryToken()
            <input type="file" name="File" id="imagePath"/>

            <button type="submit">Add Post</button>
        </form>

        @if (@Model.NewsFeed.Posts == null || @Model.NewsFeed.Posts.Count == 0)
        {
            <h4>No Posts yet.</h4>
        }
        else
        {
            foreach (var post in Model.NewsFeed.Posts)
            {
                <div class="row">
                    <div>
                        <h5>@post.Text</h5>
                        @if (post.IsFile)
                    {
                            <img src="@post.ImagePath" />
                        }
                        <p style="margin-bottom: 0px">@post.User.Username</p>
                        <small>@post.DateTime</small>
                        <br/>
                        @if ((Model.Account.IsFbAuthenticated || Session["FacebookAccessToken"] != null) || (Model.Account.IsTwitterAuthenticated || Session["TwitterAccessToken"] != null || Session["TwitterAccessTokenSecret"] != null))
                        {
                            <span class="success round label">Share now on:</span>
                        }

                        @if (Model.Account.IsFbAuthenticated || Session["FacebookAccessToken"] != null)
                        {
                            <a class="item" onclick="SocialSpace.PostOnFacebook('@post.Text', '@post.User.Username', '@post.ImagePath')">
                                <i class="step fi-social-facebook size-24"></i>
                            </a>
                        }

                        @if (Model.Account.IsTwitterAuthenticated || Session["TwitterAccessToken"] != null || Session["TwitterAccessTokenSecret"] != null)
                        {
                            <a class="item" onclick="SocialSpace.SendTweet('@post.Text', '@post.User.Username', '@post.ImagePath')">
                                <i class="step fi-social-twitter size-24"></i>
                            </a>
                        }
                    </div>
                    <div class="myDatepicker small-5 columns">
                        @if (Model.Account.IsFbAuthenticated || Model.Account.IsTwitterAuthenticated)
                        {
                            using (Ajax.BeginForm("ScheduleJob", "Social", new AjaxOptions {HttpMethod = "POST", OnSuccess = "SocialSpace.Scheduled()"}))
                            {
                                <p>Choose when the post will be shared: </p>
                                @Html.HiddenFor(m => post.Text, new {@Name = "text"})
                                @Html.HiddenFor(m => post.User.Username, new {@Name = "username"})
                                @Html.HiddenFor(m => post.ImagePath, new {@Name = "imagePath"})
                                <input type="text" class="span2" value="@Model.Today" name="toRun">
                                <select name="options" data-prompt="Choose the social network">
                                    @if (Model.Account.IsFbAuthenticated || Session["FacebookAccessToken"] != null)
                                    {
                                        <option value="Facebook">Facebook</option>
                                    }
                                    @if (Model.Account.IsTwitterAuthenticated || Session["TwitterAccessToken"] != null || Session["TwitterAccessTokenSecret"] != null)
                                    {
                                        <option value="Twitter">Twitter</option>
                                    }
                                </select>
                                <button type="submit">Schedule</button>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="small-2 columns" id="onlineUsers">
        @Html.Partial("_OnlineUsers", Model.OnlineUsers)
    </div>
</div>
<div id="myModal" class="tiny reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <p id="genericText"></p>
</div>
<div class="reveal-modal-bg" style="position: fixed"></div>

@section scripts{
    @Scripts.Render("~/bundles/signalrHubs")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/allshare")

    <script>
        $(function() {
            var userHub = $.connection.userHub;
            $.connection.hub.start().done(function() {
                userHub.server.updateOnlineUsers();
            });

            userHub.client.updateOnlineUsersMessage = function() {
                $.ajax({
                    url: "/Home/GetOnlineUsers",
                    method: "POST"
                }).success(function(users) {
                    $("#onlineUsers").html(users);
                });
            };
        });

        //var doAjaxBeforeUnloadEnabled = true;
        //var doAjaxBeforeUnload = function(evt) {
        //    if (!doAjaxBeforeUnloadEnabled) {
        //        return;
        //    }
        //    doAjaxBeforeUnloadEnabled = false;
        //    jQuery.ajax({
        //        url: "/Home/LogOutOnUnload/",
        //        success: function(a) {
        //            console.debug("Ajax call finished");
        //        },
        //        async: false
        //    });
        //}

        //$(document).ready(function() {
        //    window.onbeforeunload = doAjaxBeforeUnload;
        //    $(window).unload(doAjaxBeforeUnload);
        //});

        function performClick(elemId) {
            var elem = document.getElementById(elemId);
            if (elem && document.createEvent) {
                var evt = document.createEvent("MouseEvents");
                evt.initEvent("click", true, false);
                elem.dispatchEvent(evt);
            }
        }

        $(function () {
            $('.myDatepicker input[type=text]').fdatepicker({
                format: 'mm-dd-yyyy hh:ii',
                disableDblClickSelection: true,
                pickTime: true
            });
        });
    </script>
}

