@model AllShare.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="icon-bar three-up">
        <a class="item" href="@Url.Action("Index","Home")">
            <i class="step fi-home size-12"></i>
            <label>Home</label>
        </a>
        <a class="item" href="@Url.Action("Index", "Settings")">
            <i class="step fi-widget size-12"></i>
            <label>Settings</label>
        </a>
        <a class="item" href="@Url.Action("Logout", "Account")">
            <i class="step fi-target size-12"></i>
            <label>Logout</label>
        </a>
    </div>
</div>

<div class="row">
    <h2>Welcome, @Model.Account.Username !</h2>
    @using (Ajax.BeginForm("Post", "Home", new AjaxOptions {HttpMethod = "POST"}))
    {
        <textarea placeholder="Your text..." name="Text"></textarea>
        <button type="submit">Add Post</button>
    }

    @if (@Model.NewsFeed.Posts == null || @Model.NewsFeed.Posts.Count == 0)
    {
        <h4>No Posts yet.</h4>
    }
    else
    {
        foreach (var post in Model.NewsFeed.Posts)
        {
            <h5>@post.Text</h5>
            <p>@post.User.Username</p>
            <small>@post.DateTime</small>
            if (Model.Account.IsFbAuthenticated)
            {
                <a class="item" onclick="SocialSpace.PostOnFacebook('@post.Text', '@post.User.Username')">
                    <i class="step fi-social-facebook size-24"></i>
                </a>
            }

            if (Model.Account.IsTwitterAuthenticated)
            {
                <a class="item" onclick="SocialSpace.SendTweet('@post.Text', '@post.User.Username')">
                    <i class="step fi-social-twitter size-24"></i>
                </a>
            }
        }
    }
</div>

<div id="myModal" class="tiny reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <small>Published to Facebook feed successfully!</small>
</div>
<div class="reveal-modal-bg" style="position: fixed"></div>

@section scripts{
    @Scripts.Render("~/bundles/allshare")
}