@model AllShare.Models.AccountInput
@{
    ViewBag.Title = "Welcome to AllShare";
}

<div class="row">
    <div class="small-6 small-centered columns">
        <ul class="small tabs" data-tab>
            <li class="tab-title active"><a href="#login">Login</a></li>
            <li class="tab-title"><a href="#register">Register</a></li>
        </ul>
        <div class="tabs-content">
            <div class="content active" id="login" style="background-color: white">
                <br/>
                @using (Ajax.BeginForm("Login", new AjaxOptions {HttpMethod = "POST", OnSuccess = "SocialSpace.OnSuccess"}))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="text" placeholder="Username" name="Username" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            <input type="password" placeholder="Password" name="Password" style="border-radius: 10px"/>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Login</button>
                    </div>
                }
            </div>
            <div class="content" id="register" style="background-color: white">
                <br/>
                @using (Ajax.BeginForm("Register", new AjaxOptions {HttpMethod = "POST", OnSuccess = "SocialSpace.OnSuccess" }))
                {
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            @Html.ValidationMessageFor(model => model.Username)
                            @Html.TextBoxFor(model => model.Username, new {@type = "text", @placeholder = "Username", @style = "border-radius: 10px"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            @Html.ValidationMessageFor(model => model.Password)
                            @Html.TextBoxFor(model => model.Password, new {@type = "password", @placeholder = "Password", @style = "border-radius: 10px"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            @Html.ValidationMessageFor(model => model.FirstName)
                            @Html.TextBoxFor(model => model.FirstName, new {@type = "text", @placeholder = "First Name", @style = "border-radius: 10px"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            @Html.ValidationMessageFor(model => model.LastName)
                            @Html.TextBoxFor(model => model.LastName, new {@type = "text", @placeholder = "Last Name", @style = "border-radius: 10px"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-8 small-centered columns">
                            @Html.ValidationMessageFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new {@type = "email", @placeholder = "Email", @style = "border-radius: 10px"})
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="button small radius right">Register</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="tiny reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h4 id="modalTitle"></h4>
    <p id="genericText"></p>
</div>
<div class="reveal-modal-bg" style="position: fixed"></div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/signalrHubs")
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/allshare")

    <script>
        $(function() {
            var userHub = $.connection.userHub;
            $.connection.hub.start().done(function() {
                userHub.server.updateOnlineUsers();
            });

            userHub.client.updateOnlineUsersMessage = function() {
                $.ajax({
                    url: "/Home/GetOnlineUsers",
                    method: "POST"
                }).success(function(users) {
                    $("#onlineUsers").html(users);
                });
            };
        });
    </script>
}