
@{
    ViewBag.Title = "Settings";
}


<div class="row">
    <div class="icon-bar three-up">
        <a class="item" href="@Url.Action("Index","Home")">
            <i class="step fi-home size-12"></i>
            <label>Home</label>
        </a>
        <a class="item" href="@Url.Action("Index", "Settings")">
            <i class="step fi-widget size-12"></i>
            <label>Settings</label>
        </a>
        <a class="item" href="@Url.Action("Logout", "Account")">
            <i class="step fi-target size-12"></i>
            <label>Logout</label>
        </a>
    </div>
</div>
<div class="row">
    <h2>Settings</h2>
    <p>Log in with Facebook</p>
    <a class="item" href="@Url.Action("Facebook", "Settings")">
        <i class="step fi-social-facebook size-36"></i>
    </a>

    <p>Log in with Facebook</p>
    <a class="item" href="@Url.Action("Twitter", "Settings")">
        <i class="step fi-social-twitter size-36"></i>
    </a>
</div>


@*<script>
    var doAjaxBeforeUnloadEnabled = true;
    var doAjaxBeforeUnload = function (evt) {
        if (!doAjaxBeforeUnloadEnabled) {
            return;
        }
        doAjaxBeforeUnloadEnabled = false;
        jQuery.ajax({
            url: "/Settings/LogOutOnUnload/",
            success: function (a) {
                console.debug("Ajax call finished");
            },
            async: false
        });
    }

    $(document).ready(function () {
        window.onbeforeunload = doAjaxBeforeUnload;
        $(window).unload(doAjaxBeforeUnload);
    });
</script>*@